@import url(../css/foundation.min.css);
@font-face {
  font-family: 'jun-bold';
  src: url(../fonts/Junction-bold.woff2); }
@font-face {
  font-family: 'jun-light';
  src: url(../fonts/Junction-light.woff2); }
@font-face {
  font-family: 'jun-reg';
  src: url(../fonts/Junction-reg.woff2); }
body {
  font-family: jun-reg;
  background-color: #1779ba;
  text-align: center;
  margin-top: 20%; }
