<!DOCTYPE html>
<html lang=eng>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> Automated Teller Machine Machine </title>
    <link href="../css/overrides.css" type="text/css" rel="stylesheet">
</head>

<body>
<h1>The Village Bank Automated Teller Machine Machine</h1>
<div class="grid-x">
    <div class="cell small-4 centerme">
        <button type="button" class="success button givemeheadspace">withdraw</button>
    </div>
    <div class="cell small-4 centerme"><img src="../images/logo.png" alt="Italian Trulli"></div>
    <div class="cell small-4 centerme">
        <button type="button" class="success button givemeheadspace">deposit</button>
    </div>
</div>

<div>
    <span id="total" class="centerme"><h2>0</h2></span>
</div>

<form>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label>
                    <input type="number" placeholder="pin">
                </label>
            </div>
            <div class="medium-6 cell">
                <label>
                    <input type="number" placeholder="input amount">
                </label>
            </div>
        </div>
    </div>
</form>

</body>
</html>